body{
    background-color: white;
}

#box{
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: black;
    margin: 30px auto 0px;
    padding: 10px;
}

#header{
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
}

#inputT{
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
}
#result{
background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
  border: 1px #0a0a23;
}
